body {
  /* Hintergrundfarbe */
  background-color: #eee;

  /* alle Elemente untereinander */
  display: flex;
  flex-direction: column;

  /* Footer immer am unteren Rand */
  min-height: 100vh;

  /* Links und Rechts der gleiche Abstand */
  margin: 0 auto;

  /* Breite der Webseite 80% (maximal 1200px) */
  width: 80vw;
  max-width: 1200px;
}

main {
  /* Footer immer am unteren Rand */
  flex: 1;
}