html {
  background-color: rgb(241, 241, 241);
  width: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  width: 80vw;
  max-width: 1200px;
}
 
main {
  min-height: 5em;
  flex: 1;
}